.cover_img {
    width: 100%;
    height: 253px;
    margin-top: -100px;
    top: 0;
    overflow: hidden;
}

.cover_img img {
    width: 100%;
}

.container {
    width: 100%;
    padding: 0 33px;
    position: relative;
    height: 100%;
}

#name {
    margin-top: 12px;
}

.profile_list {
    padding-bottom: 120px;
}

.category_container {
    margin-top: 30px;
    display: grid;
    flex-direction: column;
}

.category_data_list {
    min-height: 122px;
    margin-top: 15px;
    display: flex;
}

.category_data_list_cl {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.cl {
    flex-direction: column;
}