.logoTitle {
    /* display: block; */
    color: #999;
    font-size: 25px;
    /* letter-spacing: 2px; */
    cursor: pointer;
}

.logo:hover .logoTitle span {
    animation: flicker 1s linear forwards;
}

.logo:hover #o1 {
    animation-delay: .2s;
}

.logo:hover #S {
    animation-delay: .3s;
}

.logo:hover #o2 {
    animation-delay: .4s;
}

.logo:hover #c {
    animation-delay: .5s;
}

.logo:hover #i {
    animation-delay: .6s;
}

.logo:hover #a {
    animation-delay: .7s;
}

.logo:hover #l {
    animation-delay: .8s;
}

@keyframes flicker {
    0% {
        color: #333;
    }

    5%,
    15%,
    25%,
    30%,
    100% {
        color: #fff;
        text-shadow:
            0px 0px 5px var(--color),
            0px 0px 10px var(--color),
            0px 0px 20px var(--color),
            0px 0px 50px var(--color);

    }

    10%,
    20% {
        color: #333;
        text-shadow: none;
    }
}