.apps_container {
    padding-left: 44px;
}

.apps_list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    min-height: 180px;
}

.app_card_list {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}
