.benefits_page {
    padding-left: 44px;
    position: relative;
}

.filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -60px;
    right: 100px;
}

.filter_button {
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px 10px 16px;
    gap: 8px;
    background: rgba(208, 188, 255, 0.08);
    border-radius: 15px;
    border: #8247E5 1px solid;
    margin-bottom: 20px;
}

.divider {
    border: 1px solid rgba(232, 222, 248, 0.5);
    margin-top: 10px;
    margin-bottom: 15px;
}

.benefits_list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
