.benefits_data_card {
    width: 388px;
    margin-right: 40px;
    height: 92px;
    display: flex;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.benefits_data_card #icon {
    height: 45px;
    width: 45px;
    margin-left: 14px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    overflow: hidden;
}

.benefits_data_card #icon img {
    height: 45px;
    width: 45px;
}


.benefits_data_card #desc {
    margin-left: 10px;
    width: 239px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits_data_card #desc #top {
    width: 100%;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
}

.benefits_data_card #desc #bottom {
    width: 100%;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}

.benefits_data_card #img {
    height: 92px;
    width: 90px;
    background-color: aqua;
}